.App {
  text-align: center;
}

.App-logo {
  /*height: 40vmin;*/
  min-width: 300px;
  pointer-events: none;
  margin-top: -200px;
}

/*@media (prefers-reduced-motion: no-preference) {*/
/*  .App-logo {*/
/*    animation: App-logo-spin infinite 20s linear;*/
/*  }*/
/*}*/

.App-header {
  background-color: #F2F2F2;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(20px + 2vmin);
  font-weight: 300;
  color: #000000;
}

.App-header p {
  margin-top: -100px;
}

.App-link {
  color: #61dafb;
  font-size: calc(10px + 2vmin);
}

/*@keyframes App-logo-spin {*/
/*  from {*/
/*    transform: rotate(0deg);*/
/*  }*/
/*  to {*/
/*    transform: rotate(360deg);*/
/*  }*/
/*}*/
